@import "tailwindcss";

:root {
  --background: #c0c0c0;
  --foreground: black;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Digital-7 Mono", Arial, Helvetica, sans-serif;
  margin: 15px;
}

#level_select {
  background-color: black;
  color: white;
  font-size: 18px;
}

#pad_button {
  background-color: black;
  color: white;
  margin: auto;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hud {
  background-color: black;
  color: white;
  padding: 10px;
  font-size: 16px
}

.maze {
  overflow: hidden;
  position: relative;
}

.maze_row {
  display: flex;
  flex-direction: row;
}

.tile_row {
  display: flex;
  flex-direction: row;
}

.pad {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pad_middle_row {
  display: flex;
  flex-direction: row;
}

@keyframes trophy_1 {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 45deg;
  }
}

@keyframes trophy_2 {
  from {
    rotate: 45deg;
  }

  to {
    rotate: 90deg;
  }
}

@keyframes trophy_3 {
  from {
    rotate: 90deg;
  }

  to {
    rotate: 135deg;
  }
}

@keyframes trophy_4 {
  from {
    rotate: 135deg;
  }

  to {
    rotate: 180deg;
  }
}